<p id="notice"><%= notice %></p>

<div class="x_panel">

<div class="x_title">
<h2><%= t('.title_page')%></h2>
<div class="clearfix"></div>
</div>

<div class="x_content">
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= t('.table_header_title')%></th>
      <th><%= t('.table_header_url')%></th>
      <th><%= t('.table_header_periodicity')%></th>
      <th><%= t('.table_header_status')%></th>
      <th><%= t('.table_header_params')%></th>
      <th colspan="5"><%= t('.table_header_actions')%></th>
    </tr>
  </thead>

  <tbody>
    <% @admin_cron_requests.each do |admin_cron_request| %>
      <tr>
        <td><%= admin_cron_request.title %> <br/><%= admin_cron_request.description %></td>
        <td><%= admin_cron_request.url %> - <%= admin_cron_request.http_method %></td>
        <td><%= admin_cron_request.periodicity %> at <%= admin_cron_request.at %></td>
        <td><%= admin_cron_request.status %></td>
        <td><%= admin_cron_request.params %></td>
        <td><%= link_to t('button.show'), admin_cron_request %></td>
        <td><%= link_to t('button.edit'), edit_admin_cron_request_path(admin_cron_request) %></td>
        <td><%= link_to t('button.destroy'), admin_cron_request, method: :delete, data: { confirm: t('button.destroy') } %></td>
        <td><%= link_to t('.table_label_log_action'), admin_cron_request_logs_url(admin_cron_request)%></td>
        <td><%= link_to t('.table_label_run_manually_action'), admin_cron_request_run_now_url(admin_cron_request)%></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to t('.new_button'), new_admin_cron_request_path, :class=>"btn btn-success" %>
</div>
</div>
